<h1>{{currentCounter}}</h1>

<app-counter *ngFor="let counter of counterArray; index as i"
             [counter]="counter.value"
             [color]="counter.color"
             [counterIndex]="i"
             (counterClick)="onCounterChange($event)"></app-counter>

<app-counter [counter]="currentCounter" [counterIndex]="4"></app-counter>
<!--
<app-counter template="ngFor let counter of counterArray; index as i"
             [counter]="counter.value"
             [color]="counter.color"
             [counterIndex]="i"></app-counter>

<ng-template ngFor let-counter [ngForOf]="counterArray" let-i="index">
  <app-counter
    [counter]="counter.value"
    [color]="counter.color"
    [counterIndex]="i"></app-counter>
</ng-template>
-->

